  <div ng-include="'navbar.html'"></div>

  <div id="content">

    <div class="col-md-12">
      <input class="btn btn-danger create-btn" type="button" name="Create" data-toggle="modal" data-target="#editProject"
             ng-click="initProject();" value="Create">
    </div>

    <div id="projectsOwned">
      <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
        <h3 class="header">Projects you own</h3>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" ng-repeat="project in myProjects">
        <div class="card project">
          <div class="card-block card-block-info">
            <button type="button" class="close" data-toggle="modal" data-target="#deleteProject" ng-click="setProject(project)">&times;</button>
            <h4 class="card-title">{{project.name}}</h4>
            <p class="card-text">{{project.description}}</p>
          </div>
          <div class="card-block card-block-button">
            <button class="btn btn-danger btn-smaller" type="button" name="open" ng-click="openPage(project, '/issues')">Open</button>
            <button class="btn btn-default btn-smaller" type="button" name="collaborators" data-toggle="modal" data-target="#addColab" ng-click="setProject(project);" value="addcolabs">Add Collaborators</button>
            <button class="btn btn-default btn-smaller" type="button" name="edit" data-toggle="modal" data-target="#editProject" ng-click="setProject(project);" value="edit">Edit</button>
          </div>
        </div>
      </div>
    </div>

    <br>
    <br>

    <div id="projectsCollaborated">
      <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
        <h3 class="header">Projects you collaborate on</h3>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" ng-repeat="project in collabProjects">
        <div class="card project">
          <div class="card-block card-block-info">
            <button type="button" class="close" data-toggle="modal" data-target="#deleteProject" ng-click="setProject(project)">&times;</button>
            <h4 class="card-title">{{project.name}}</h4>
            <p class="card-text">{{project.description}}</p>
          </div>
          <div class="card-block card-block-button">
            <button class="btn btn-danger btn-smaller" type="button" name="open" ng-click="openPage(project, '/issues')">Open</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Edit Project Modal Window -->
    <div id="editProject" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
          <form name="editForm">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <div id="oldname"></div>
              <span>Name: </span><input class="form-control" ng-change="saveOldName('{{project.name}}')" type="text" ng-model="project.name" required />
              <span>Description: </span><input class="form-control" ng-change="saveOldName('{{project.name}}')" type="text" ng-model="project.description" required />
            </div>
            <div class="modal-footer">
              <button id="edit" type="submit" class="btn btn-danger modal-btn" ng-click="saveProject()">Save and Close</button>
              <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="refreshProjects()">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Add Collaborators Project Modal Window -->
    <div id="addColab" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
          <form name="editForm">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <span>Type the username of the user you would like to share this project with:</span>
              <input id="colabUsername" class="form-control" type="text" placeholder="username" />
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger modal-btn" ng-click="addColab(project)">Add</button>
              <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="refreshProjects()">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Delete Project Modal Window -->
    <div id="deleteProject" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
          <form name="deleteForm">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <span>Type the name of the project below to delete it:</span>
              <input class="form-control" type="text" ng-model="verification" placeholder="Name of project" />
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger modal-btn" ng-click="deleteProject(project)" ng-disabled="verification!=project.name">Delete</button>
              <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="refreshProjects()">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
