<!doctype html>
<html lang="en" ng-app="bacontracker">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Projects</title>
</head>

<body class="container" ng-controller="ProjectController">

  <nav class="navbar navbar-light bg-faded">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-toggleable-xs">
      <a id="logo" class="navbar-brand" href="/projects">Bacon Tracker<span><img src="../assets/img/bacon-logo.png"></span></a>
      <ul class="nav navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/projects">Projects<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Account</a>
        </li>

      </ul>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle account-name-nav" href="#" data-toggle="dropdown">{{username}}</a>
        <div class="dropdown-menu">
          <button class="dropdown-item" ng-click="logout()">Logout</button>
        </div>
      </div>
    </div>
  </nav>
  <br>

  <div id="content">

    <div class="col-md-12">
      <input class="btn btn-danger create-btn" type="button" name="Create" data-toggle="modal" data-target="#createProject"
             ng-click="initProject();" value="Create">
    </div>

    <div id="projectsOwned">
      <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
        <h3 class="header">Projects you own</h3>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" ng-repeat="project in myProjects">
        <div class="card project">
          <div class="card-block card-block-info">
            <button type="button" class="close" data-toggle="modal" data-target="#deleteProject" ng-click="setProject(project)">&times;</button>
            <h4 class="card-title">{{project.name}}</h4>
            <p class="card-text">{{project.description}}</p>
          </div>
          <div class="card-block card-block-button">
            <button class="btn btn-danger" type="button" name="open" ng-click="openPage(project, '/issues')">Open</button>
          </div>
        </div>
      </div>
    </div>

    <br>
    <br>

    <div id="projectsCollaborated">
      <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
        <h3 class="header">Projects you collaborate on</h3>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" ng-repeat="project in collabProjects">
        <div class="card project">
          <button type="button" class="close" data-toggle="modal" data-target="#deleteProject" ng-click="setProject(project)">&times;</button>
          <div class="card-block card-block-info">
            <h4 class="card-title">{{project.name}}</h4>
            <p class="card-text">{{project.description}}</p>
          </div>
          <div class="card-block card-block-button">
            <button class="btn btn-danger" type="button" name="open" ng-click="openPage(project, '/issues')">Open</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Edit Create Project Modal Window -->
    <div id="createProject" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
          <form name="createForm">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <span>Name: </span><input class="form-control" type="text" ng-model="project.name" required />
              <span>Description: </span><input class="form-control" type="text" ng-model="project.description" required />
            </div>
            <div class="modal-footer">
              <button id="create" type="submit" class="btn btn-info" ng-click="this.createForm.$valid && createProject()">Create</button>
              <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="refreshProjects()">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Delete Project Modal Window -->
    <div id="deleteProject" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
          <form name="deleteForm">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <span>Type the name of the project below to delete it:</span>
              <input class="form-control" type="text" ng-model="verification" placeholder="Name of project" />
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger delete-btn" ng-click="deleteProject(project)" ng-disabled="verification!=project.name">Delete</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    </div>
</body>

</html>
