@import url('https://fonts.googleapis.com/css?family=Lobster');

body {
    padding-top: 1em;
    color: #fff;
    background-image: url('../img/backgrounds/table.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.clearfix {
  overflow: auto;
}

.btn-danger {
  background-color: #fff;
  float: right;
  border-color: #e53b3b;
  color: #e53b3b;
}

.btn-danger:active {
  background-color: #eebf77 !important;
  border-color: #eebf77 !important;
}

.card-block {
  color: #000;
  opacity: 0.96;
}

.card-block-info {
  position: relative;
}

.card-block-button {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.card {
  min-height: 200px;
}

.projectsOwned {
  /*padding-bottom: 9em;*/
}

#logo {
  font-family: 'Lobster';
  font-size: 14pt;
}

.account-name-nav {
  color: #000;
  float: right;
  padding-top: 7px;
}

.account-name-nav:hover {
  color: #e53b3b;
}

.account-name-issue {
  color: #000;
  float: right;
}

.account-name-issue:hover {
  color: #000;
  float: right;
  color: #e53b3b
}

.modal-dialog {
  color: black;
}

#editclear {
  position: absolute;
  right: 5px;
  top: 0;
  bottom: 0;
  height: 14px;
  margin: auto;
  font-size: 14px;
  cursor: pointer;
  color: #ccc;
}

input[type=checkbox] {
  margin-right: 1em;
}

input[type=text]:focus {
  border-color: #e53b3b;
}

.portlet-block {
  min-width: 500px;
}

.column {
  width: 33%;
  float: left;
  padding-bottom: 100px;
}
.portlet {
  margin: 0 1em 1em 0;
  padding: 0.3em;
}
.portlet-header {
  padding: 0.2em 0.3em;
  margin-bottom: 0.5em;
  position: relative;
}
.portlet-toggle {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -8px;
}
.portlet-content {
  padding: 0.4em;
}
.portlet-placeholder {
  border: 1px dotted black;
  margin: 0 1em 1em 0;
  height: 200px;
}