@import url('https://fonts.googleapis.com/css?family=Lobster');

body {
    padding-top: 1em;
    color: #fff;
    background-size: cover;
    background-attachment: fixed;
}

#projectsOwned > div > h3 {
  margin-top: 1em !important;
  margin-bottom: 0.5em;
}

#projectsCollaborated > div > h3 {
  margin-top: 2em !important;
  margin-bottom: 0.5em;
}

#issue-section > div {
 margin-top: 1em;
}

.clearfix {
  overflow: auto;
}

.header {
  text-shadow: 1px 1px black;
  color: white !important;
}

.header > h3 {
  white-space: nowrap;
  overflow:hidden !important;
  text-overflow:ellipsis !important;
}

.assignee {
  position:absolute;
  bottom:0;
  width: 100%;
  overflow:hidden !important;
  text-overflow:ellipsis !important;
}

.issue-search {
  margin-right: 3rem;
  margin-bottom: 1em;
}

.btn-danger {
  background-color: #fff;
  float: right;
  border-color: #e53b3b;
  color: #e53b3b;
}

.btn-info {
  color: #5bc0de;
  background-color: white;
  outline-color: #5bc0de;
}

.btn-smaller {
  font-size: .90rem !important;
}

.btn-danger {
  margin-left: 2px;
}

.btn-default:hover {
  color: black !important;
  opacity: .25;
}

.create-btn {
  float: left !important;
  margin-bottom: 1em;
}

.modal-btn {
  float: left;
}

.delete-msg {
  float: left;
}

.card-text > p > a {
  color: #333;
}

.btn-danger:active {
  background-color: white !important;
  color: #e53b3b !important;
  border-color: #e53b3b !important;
  outline-color: #e53b3b !important;
}

.dropdown-menu {
  padding: 0;
}

.card-block-info {
  position: relative;
}

.card-block-button {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.card.project {
  min-height: 200px;
  opacity: .96;
}

.card-title {
  margin-bottom: 1.15rem;
}

#logo {
  font-family: 'Lobster';
  font-size: 14pt;
}

.nav-dropdown {
  left: -50px !important;
}

.dropdown {
  float: right;
}

.navbar {
  margin-bottom: 15px;
}

.account-name-nav {
  color: #000;
  float: right;
  padding-top: 7px;
}

.account-name-nav:hover {
  color: #e53b3b;
}

.account-name-issue {
  color: #000;
  float: right;
}

.account-name-issue:hover {
  color: #000;
  float: right;
  color: #e53b3b
}

.modal-dialog {
  color: black;
}

.modal-body > input {
  margin-bottom: 1em;
}

#editclear {
  position: absolute;
  right: 5px;
  top: 0;
  bottom: 0;
  height: 14px;
  margin: auto;
  font-size: 14px;
  cursor: pointer;
  color: #ccc;
}

input[type=checkbox] {
  margin-right: 1em;
}

input[type=text]:focus {
  border-color: #e53b3b;
}

.portlet-block {
  min-width: 500px;
}

.draggable {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.blockquote {
  font-size: 1rem;
  border-left: .15rem solid #6f6f6f;
}

.column {
  width: 33%;
  float: left;
  padding-bottom: 100px;
}

.portlet {
  opacity: .96;
  margin-bottom: 1.25em;
  padding: 0.3em;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  height: 150px;
  border: 3px;
  text-shadow: none;
  color: #333;
  white-space: nowrap;
}

.portlet:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.portlet-header {
  padding: 0.2em 0.3em;
  margin-bottom: 0.5em;
  position: relative;
  background-color: inherit;
  overflow:hidden !important;
  text-overflow:ellipsis !important;
}

.portlet-header > a {
  font-size: 1.15rem;
  color: #333;
}

.portlet-block {
  min-width: 500px;
}

.portlet-toggle {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -8px;
}

.portlet-content {
  padding: 0.4em;
  overflow:hidden !important;
  text-overflow:ellipsis !important;
}

.portlet-content > p {
  overflow:hidden !important;
  text-overflow:ellipsis !important;
}

.portlet-placeholder {
  border: 1px dotted white;
  margin: 0 1em 1em 0;
  height: 150px;
  width: 100%;
}

.portlet.ui-sortable-helper {
  border-color: #e53b3b;
}

#oldname {
  visibility: hidden;
  max-width: 0px;
  max-height: 0px;
}
